.header__menu__logo {
  width: 54px; }

body {
  background-color: #222831; }

nav {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000000; }

.articulo__rectangulo__grande {
  width: 243px;
  height: 369px;
  background: #393E46;
  border-radius: 11px;
  margin: 10px; }

.fuenterectangulo {
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  color: #000000;
  border: 5px;
  border-color: #FFFFFF;
  margin: 15px; }

.imagen__rectangulo {
  height: 65%;
  border-radius: 11px;
  margin-left: 36px;
  margin-top: 30px;
}

.rectangulocompra {
  width: 166px;
  height: 49px;
  background: #00ADB5;
  border-radius: 11px;
  transition: all 0.7s;
  margin-left: 35px;
  margin-top: -20px;
  margin-bottom: 50px; }

.rectangulocompra:hover {
  background-color: blue; }

.fuente__comprar {
  font-family: 'Bebas Neue', cursive;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  color: #000000;
  text-align: center;
margin-top: 10px; }

footer {
  color: #000000;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  padding: 50px; }

  .logo{
height: 50px;
  }

  .modificacionimagen{
    margin-left: 60px;
  }


  .imageniphonegrande{
    width: 597px;
    height: 597px;
  }