body {
    background-color: #222831;
  }

nav {   
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

#inicio {
    position: absolute;
    width: 58px;
    height: 28px;
    left: 25%;
    top: 150px;

}

#shonline {
    position: absolute;
    width: 128px;
    height: 28px;
    left: 50%;
    top: 150px;
}

#soporte {
    position: absolute;
    width: 85px;
    height: 28px;
    left: 75%;
    top: 150px;
}


.rectangulo {
    position: relative;
    width: 1155px;
    height: 60px;
    left: 143px;
    top: 134px;

    background: #00ADB5;
    border-radius: 11px;
}

#rectangulooo2 {

    width: 977px;
    height: 106px;
    left: 232px;
    top: 234px;
    
    background: #393E46;
    border-radius: 11px;
}

#stecnico {
    position: absolute;
    width: 154px;
    height: 35px;
    left: 336px;
    top: 269px;
    font-family: 'Bebas Neue', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    color: #FFFFFF;
}

#envio {
    position: absolute;
    width: 188px;
    height: 35px;
    left: 600px;
    top: 269px;
    font-family: 'Bebas Neue', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    color: #FFFFFF;
}

#pago {
    position: absolute;
    width: 247px;
    height: 35px;
    left: 906px;
    top: 269px;
    font-family: 'Bebas Neue', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    color: #FFFFFF;
}

#logo {
    position: absolute;
    width: 54px;
    left: 50%;
    top: 26px;
    
}

footer {
    position: absolute;
    width: 464px;
    height: 28px;
    left: 488px;
    top: 1459px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

iframe {
    position: absolute;
    width: 875px;
    height: 459px;
    left: 283px;
    top: 881px;
    border-radius: 11px;
}

#tarjeta {
    position: absolute;
    width: 42px;
    height: 42px;
    left: 849px;
    top: 266px;
}

#camion {
    position: absolute;
    width: 41px;
    height: 41px;
    left: 551px;
    top: 263px;
}

#telefono {
    position: absolute;
    width: 41px;
    height: 41px;
    left: 287px;
    top: 269px;
}

th {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: red;
}

.rectangulosh {
    width: 243px;
    height: 369px;
    background: #393E46;
    border-radius: 11px;
    margin: 5px;
    
}

.fuenterectangulo {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    color: #000000;
    margin-top: 200px;
    border: 5px;
    border-color: #FFFFFF;

}

.imagenrectangulo {
    width: 200px;
    height: 200px;
    border-radius: 11px;
}

.rectangulocompra {
    width: 166px;
    height: 49px;
    background: #00ADB5;
    border-radius: 11px;
    margin-bottom:  10px;
    margin-left: 38px;
    transition: all 0.7s;
}

.rectangulocompra:hover {
    background-color: blue;
}


.fuentecomprar {
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    color: #000000;
    text-align: center;
}

.padreflex {
    display: flex;
    flex-direction: row;

}

footer {
    margin-top: 20px;
    margin-bottom: 30px;
}

#iphoneimagen {
    border-radius: 11px;
    position: absolute;
    width: 875px;
    height: 459px;
    left: 283px;
    top: 380px;
    margin: 10px;
}

form {
    margin: 10px;
}

label {
    padding: 10px;
    margin: 10px;
}
textarea {
    padding: 10px;
    margin: 10px;
}

input {
    margin: 10px;
}

/*.padreflex {
    display: flex;
    justify-content: space-evenly;
    align-items: space-evenly;
    flex-wrap: wrap;
    width: 66%;
    gap: 1em;
    margin: auto;
}*/

.grid {
    display: grid;
    grid-template-columns: 243px 243px 243px;
    grid-template-rows: 369px 369px 369px 369px;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    justify-content: center;
    align-items: center;
    grid-template-areas: 
    "iphone12promax iphone12pro iphone 12"
    "iphone12mini iphone11promax iphone11pro"
    "iphone11 iphonese iphonexs"
    "iphonex iphone8 iphone8plus";


}
@media only screen and (max-width: 768px) {
body {
    background-color: blueviolet;
}
#inicio {
    left: start;
    top: 150px;
}
#shonline {
    left: center;
    top: 150px;
}
#soporte {
    left: end;
    top: 150px;
}

#stecnico {
    opacity: 0; 
}

#telefono{
    opacity: 0;
}
#envio{
    opacity: 0;
}
#camion {
    opacity: 0;
}

#pago {
    opacity: 0;
}

#tarjeta {
    opacity: 0;
}
#iphoneimagen{
    border-radius: 11px;
    width: 458px;
    height: 240px;
}
iframe {
    width: 458px;
    height: 240px;
}

@media only screen and (max-width: 1024px) {
    body {
        background-color: blueviolet;
    }
    #inicio {
        left: start;
        top: 150px;
    }
    #shonline {
        left: center;
        top: 150px;
    }
    #soporte {
        left: end;
        top: 150px;
    }
    
    #stecnico {
        opacity: 0; 
    }
    
    #telefono{
        opacity: 0;
    }
    #envio{
        opacity: 0;
    }
    #camion {
        opacity: 0;
    }
    
    #pago {
        opacity: 0;
    }
    
    #tarjeta {
        opacity: 0;
    }
    #iphoneimagen{
        width: 712px;
        height: 373px;
    }

    iframe {
        width: 712px;
        height: 373px;
    }

    }